doctype html
html
  head
    title Bienevido a Nodetomic
  body
    div(style="text-align:center; padding:50px;")
      img(src='https://cdn.pixabay.com/photo/2014/06/15/22/29/message-369540_960_720.png',style='width:80px;height:80px;')
      h1(style='color:#17C491;') ¡Bienvenido!
      p Hola Mundo
      h2(style='color:#17C491;') Tu código de verificación
      h1 #{code}
      a(href='https://github.com/kevoj', target="_blank",style='color:#17C491;' ) example.com