doctype html
html
  head
    title #{name}
    link(rel='icon', sizes='any', href='favicon.png', type='image/png')
  style
    include index.css 
  body
    div
      img(src='logo.svg')
      h1 #{name}
      span #{mode}