code {
  background-color: #282c34 !important;
}

.highlight .k {
  color: #c678dd !important;
}

.highlight .nx {
  color: #abb2bf !important;
}

.highlight .dl {
  color: #98c379 !important;
}

.highlight .s1 {
  color: #98c379 !important;
}

.highlight .p {
  color: #abb2bf !important;
}

.highlight .c1 {
  color: #4e5456 !important;
}

.highlight .kd {
  color: #c678dd !important;
}

.highlight .nx {
  color: #61AFEF !important;
}

.highlight .o {
  color: #abb2bf !important;
}

.highlight .cm {
  color: #4e5456 !important;
}

.highlight .mi {
  color: #e5c07b !important;
}

.highlight .na {
  color: #98c379 !important;
}

.highlight .kc {
  color: #e5c07b !important;
}