<!DOCTYPE html>
<html lang="en">

<head>
    <title>Recuperar contraseña</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div>
        <img src="https://cdn.pixabay.com/photo/2014/06/15/22/29/message-369540_960_720.png" />
        <h1>Recuperar contraseña</h1>
        <p>¿Has olvidado tu contraseña? No te preocupes, genera una nueva contraseña.</p>
        <h2>Tu código de recuperión</h2>
        <h1>{{code}}</h1>
        <a href='https://github.com/kevoj' , target="_blank">www.example.com</a>
    </div>
    <style>
        body {
            text-align: center;
            padding: 50px;
        }

        .img {
            width: 80px;
            height: 80px;
        }

        .h1 {
            color: #17C491;
        }

        h2 {
            color: #17C491;
        }

        a {
            color: #17C491;
        }
    </style>
</body>

</html>